gateway_http_ports:
  - name: port-{{ _gateway_proxy_port }}
    number: {{ _gateway_proxy_port }}
    use_https: {{ not envoy_disable_https }}
    is_api_port: true
gateway_service_clusters:
  - name: gateway
    service_type: gateway
{% if groups.get('automationcontroller', []) | length > 0 %}
  - name: controller
    service_type: controller
{% endif %}
{% if groups.get('automationhub', []) | length > 0 %}
  - name: hub
    service_type: hub
{% endif %}
{% if groups.get('automationeda', []) | length > 0 %}
  - name: eda
    service_type: eda
{% endif %}
gateway_service_nodes:
{% for item in groups['automationgateway'] %}
  - name: 'Node gateway - {{ hostvars[item]["_gateway_hostname"] }}'
    service_cluster: gateway
    address: '{{ hostvars[item]["_gateway_hostname"] }}'
{% endfor %}
{% for item in groups.get('automationcontroller', []) %}
  - name: 'Node controller - {{ hostvars[item]["_controller_hostname"] }}'
    service_cluster: controller
    address: '{{ hostvars[item]["_controller_hostname"] }}'
{% endfor %}
{% for item in groups.get('automationhub', []) %}
  - name: 'Node hub - {{ hostvars[item]["_hub_hostname"] }}'
    service_cluster: hub
    address: '{{ hostvars[item]["_hub_hostname"] }}'
{% endfor %}
{% for item in groups.get('automationeda', []) %}
{% if hostvars[item].get('eda_type', 'hybrid') in ['api', 'hybrid', 'event-stream'] %}
  - name: 'Node eda - {{ hostvars[item]["_eda_hostname"] }}'
    service_cluster: eda
    address: '{{ hostvars[item]["_eda_hostname"] }}'
    tags: 'eda-{{ hostvars[item].get('eda_type', 'hybrid') }}'
{% endif %}
{% endfor %}
gateway_services:
  - name: 'gateway api'
    api_slug: gateway
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: gateway
    is_service_https: {{ not gateway_nginx_disable_https }}
    service_path: '/'
    service_port: {{ _gateway_port }}
    order: 100
    enable_gateway_auth: false
{% if groups.get('automationcontroller', []) | length > 0 %}
  - name: 'controller api'
    api_slug: controller
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: controller
    is_service_https: {{ not hostvars[groups["automationcontroller"][0]].get("controller_nginx_disable_https", false) }}
    service_path: '/api/controller/'
    service_port: {{ hostvars[groups["automationcontroller"][0]]["_controller_port"] }}
    order: 1
{% endif %}
{% if groups.get('automationhub', []) | length > 0 %}
  - name: 'galaxy api'
    api_slug: galaxy
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: hub
    is_service_https: {{ not hostvars[groups["automationhub"][0]].get("hub_nginx_disable_https", false) }}
    service_path: '/api/galaxy/'
    service_port: {{ hostvars[groups["automationhub"][0]]["_hub_port"] }}
    order: 2
{% endif %}
{% if groups.get('automationeda', []) | length > 0 %}
  - name: 'eda api'
    api_slug: eda
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: eda
    is_service_https: {{ not hostvars[groups["automationeda"][0]].get("eda_nginx_disable_https", false) }}
    service_path: '/api/eda/'
    service_port: {{ hostvars[groups["automationeda"][0]]["_eda_port"] }}
    order: 3
{% endif %}
gateway_settings:
  gateway_proxy_url: '{{ _gateway_proxy_url }}'
{% if groups.get('automationhub', []) | length > 0 or groups.get('automationeda', []) | length > 0 %}
gateway_routes:
{% if groups.get('automationhub', []) | length > 0 %}
  - name: "hub container registry"
    description: "Hub Container Registry."
    gateway_path: "/v2/"
    service_path: "/v2/"
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: hub
    is_service_https: {{ not hostvars[groups["automationhub"][0]].get("hub_nginx_disable_https", false) }}
    service_port: {{ hostvars[groups["automationhub"][0]]["_hub_port"] }}
    enable_gateway_auth: true
  - name: "hub ui"
    description: "Hub UI"
    gateway_path: "/ui/"
    service_path: "/ui/"
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: hub
    is_service_https: {{ not hostvars[groups["automationhub"][0]].get("hub_nginx_disable_https", false) }}
    service_port: {{ hostvars[groups["automationhub"][0]]["_hub_port"] }}
    enable_gateway_auth: true
  - name: "hub ui static files"
    description: "Hub UI Static Files"
    gateway_path: "/static/galaxy_ng/"
    service_path: "/static/galaxy_ng/"
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: hub
    is_service_https: {{ not hostvars[groups["automationhub"][0]].get("hub_nginx_disable_https", false) }}
    service_port: {{ hostvars[groups["automationhub"][0]]["_hub_port"] }}
    enable_gateway_auth: true
  - name: "pulp content"
    description: "Pulp Content"
    gateway_path: "/pulp"
    service_path: "/pulp"
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: hub
    is_service_https: {{ not hostvars[groups["automationhub"][0]].get("hub_nginx_disable_https", false) }}
    service_port: {{ hostvars[groups["automationhub"][0]]["_hub_port"] }}
    enable_gateway_auth: true
  - name: "pulp container tokens"
    description: "Pulp Container Tokens"
    gateway_path: "/token"
    service_path: "/token"
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: hub
    is_service_https: {{ not hostvars[groups["automationhub"][0]].get("hub_nginx_disable_https", false) }}
    service_port: {{ hostvars[groups["automationhub"][0]]["_hub_port"] }}
    enable_gateway_auth: true
  - name: "pulp container extensions"
    description: "Pulp Container Extensions"
    gateway_path: "/extensions"
    service_path: "/extensions"
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: hub
    is_service_https: {{ not hostvars[groups["automationhub"][0]].get("hub_nginx_disable_https", false) }}
    service_port: {{ hostvars[groups["automationhub"][0]]["_hub_port"] }}
    enable_gateway_auth: true
{% endif %}
{% if groups.get('automationeda', []) | length > 0 %}
  - name: "Event Driven Automation Event Stream"
    description: "Proxy to the EDA Event Streams"
    gateway_path: "{{ eda_event_stream_prefix_path | default('/eda-event-streams') }}/"
    service_path: "/"
    http_port: port-{{ _gateway_proxy_port }}
    service_cluster: eda
    is_service_https: {{ not hostvars[groups["automationeda"][0]].get("eda_nginx_disable_https", false) }}
    service_port: {{ hostvars[groups["automationeda"][0]]["_eda_port"] }}
    enable_gateway_auth: false
    node_tags: "eda-hybrid,eda-event-stream"
{% endif %}
{% else %}
gateway_routes: []
{% endif %}
