GLOBAL_JOB_EXECUTION_ENVIRONMENTS = [
    {'name': 'Default execution environment', 'image': '{{ _ee_supported_image }}'},
    {'name': 'Minimal execution environment', 'image': '{{ _ee_minimal_image }}'},
{% if groups.get('automationhub', []) | length > 0 %}
    {'name': 'Hub Default execution environment', 'image': '{{ __dest }}/{{ _ee_supported_image | basename }}'},
    {'name': 'Hub Minimal execution environment', 'image': '{{ __dest }}/{{ _ee_minimal_image | basename }}'},
{% endif %}
{% for ee in _ee_extra_images | default([]) %}
    {'name': '{{ ee.name }}', 'image': '{{ ee.image }}'},
{% if groups.get('automationhub', []) | length > 0 %}
    {'name': 'Hub {{ ee.name }}', 'image': '{{ __dest }}/{{ ee.image | basename }}'},
{% endif %}
{% endfor %}
]
CONTROL_PLANE_EXECUTION_ENVIRONMENT = '{{ _ee_supported_image }}'
