[uwsgi]{% raw %}
log-format = [pid: %(pid)|app: -|req: -/-] %(addr) (%(user)) {%(vars) vars in %(pktsize) bytes} [%(ctime)] %(method) %(uri) => generated %(rsize) bytes in %(msecs) msecs (%(proto) %(status)) %(headers) headers in %(hsize) bytes (%(switches) switches on core %(core)) x-request-id: %(var.HTTP_X_REQUEST_ID)
{% endraw %}
socket = 127.0.0.1:{{ controller_uwsgi_port }}
processes = {{ controller_uwsgi_processes }}             ; same as workers
listen = {{ controller_uwsgi_listen_queue_size }}        ; queue length of requests not yet handled by workers
vacuum = true
no-orphans = true
master = true
lazy-apps = true
max-requests = 1000
buffer-size = 32768
master-fifo = /var/lib/awx/awxfifo

harakiri = 120
harakiri-graceful-timeout = 115
harakiri-graceful-signal = 6
py-call-osafterfork = true

if-env = UWSGI_MOUNT_PATH
mount = %(_)=awx.wsgi:application
endif =

if-not-env = UWSGI_MOUNT_PATH
mount = /=awx.wsgi:application
endif =
