podman run --rm --net=host \
{% if item == 'pg_restore' %}
--interactive \
{% endif %}
--uidmap={{ postgresql_uid }}:0:1 \
--uidmap=0:1:{{ postgresql_uid }} \
--uidmap={{ postgresql_uid + 1 }}:{{ postgresql_uid + 1 }}:{{ 65536 - postgresql_uid }} \
--gidmap={{ postgresql_gid }}:0:1 \
--gidmap=0:1:{{ postgresql_gid }} \
--gidmap={{ postgresql_gid + 1 }}:{{ postgresql_gid + 1 }}:{{ 65536 - postgresql_gid }} \
{% if _postgresql_cert_auth | bool %}
--env PGSSLCERT \
--env PGSSLKEY \
--env PGSSLROOTCERT \
--volume {{ ansible_user_dir }}/aap/tls/extracted:/etc/pki/ca-trust/extracted:z \
--volume {{ _postgresql_src_dir }}/postgresql.cert:{{ _postgresql_dest_dir }}/postgresql.cert:ro,z \
--volume {{ _postgresql_src_dir }}/postgresql.key:{{ _postgresql_dest_dir }}/postgresql.key:ro,z \
{% else %}
--env PGPASSWORD \
{% endif %}
{% if _postgresql_socket | length %}
--volume {{ _postgresql_socket }}:{{ _postgresql_socket }}:z' \
{% endif %}
{{ _postgresql_image }} \
{{ item }} "$@"
