listen_addresses = '*'
port = {{ postgresql_port }}

password_encryption = '{{ postgresql_password_encryption }}'

{% if not postgresql_disable_tls | bool %}
ssl = on
ssl_cert_file = '/var/lib/pgsql/server.crt'
ssl_key_file = '/var/lib/pgsql/server.key'
ssl_ca_file = '/etc/pki/tls/certs/ca-bundle.crt'
{% endif %}

max_connections = ${POSTGRESQL_MAX_CONNECTIONS}
max_prepared_transactions = ${POSTGRESQL_MAX_PREPARED_TRANSACTIONS}
shared_buffers = ${POSTGRESQL_SHARED_BUFFERS}
effective_cache_size = ${POSTGRESQL_EFFECTIVE_CACHE_SIZE}
